$size: (
  h1: Clamp(2.75rem, 5vw + 1rem, 4.75rem),
  h2: Clamp(2rem, 8vw + 1rem, 4rem),
  h3: Clamp(1rem, 8vw + 1rem, 1.75rem),
  h4: Clamp(1rem, 8vw + 1rem, 1.75rem),
  h5: Clamp(1rem, 8vw + 1rem, 1.75rem),
  h6: Clamp(1.25rem, 7vw + 1rem, 3.325rem),
  p: Clamp(1rem, 5vw + 1rem, 1.1rem),
  a: Clamp(0.75rem, 10vw + 1rem, 1.1rem),
  button: Clamp(0.75rem, 10vw + 1rem, 1.1rem),
  // small: (
  //   h1: 2.5rem,
  //   h2: 2rem,
  //   h3: 4rem,
  //   h4: 1.2rem,
  //   p: 1.2rem,
  //   a: 1.5rem,
  // ),
  // large: (
  //   h1: 5rem,
  //   h2: 2.5rem,
  //   h3: 5rem,
  //   h4: 2rem,
  //   p: 1.5rem,
  //   a: 1rem,
  // ),,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
);

$weight: (
  primary: (
    400: 400,
    700: 700,
  ),
  accent: (
    400: 400,
  ),
);
