@use "./fonts" as *;
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

@each $tag, $value in $size {
  #{$tag} {
    font-size: $value;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", serif;
  font-weight: --fw-accent-400;
  line-height: 1;
}

p,
a,
button {
  font-family: "Karla", sans-serif;
  line-height: 1.7;
  font-weight: --fw-accent-400;
}

a {
  letter-spacing: 2px;
}
