%btn {
  padding: 0.5em 1.25em;
  border: 0;
  outline: 0;
  cursor: pointer;
}

@mixin btn-red {
  @extend %btn;
  background-color: red;
  color: white;

  &:hover {
    background-color: white;
    color: red;
    outline: 2px solid red;
  }
}

@mixin btn-outline {
  padding: 0.5em 1.25em;

  cursor: pointer;
  border: 0;
  color: var(--clr-neutral-700);
  outline: 2px solid var(--clr-neutral-700);

  &:hover {
    background-color: var(--clr-neutral-700);
    color: var(--clr-neutral-500);
  }
}

@mixin btn-outline-inverted {
  padding: 0.5em 1.25em;

  cursor: pointer;
  border: 0;
  color: var(--clr-neutral-500);
  outline: 2px solid var(--clr-neutral-500);

  &:hover {
    background-color: var(--clr-neutral-500);
    color: var(--clr-neutral-700);
  }
}
